$primary-color: #0284c7;
$secondary-color: #ef4444;
$style-color: #1d951d00;

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: $primary-color;
    color: #fff;
    padding: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {

        p {
            font-size: 14px;
        }
    }
    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            padding: 0;

            li {

                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.login-button {
    background-color: $secondary-color;
    color: #fff;
    padding: 0.5em 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

